<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>Login</title>
  </head>
  <body>
    <header><%- include('partials/_header') %></header>

    <h1 class="mt-5 mb-3 text-success text-center font-weight-bold">Login</h1>
    <form class="text-center" action="/login" method="POST">
      <label for="email"
        ><h5 class="mt-4 text-secondary font-weight-bold">
          Email address
        </h5></label
      >
      <div id="emailform" class="form-inline justify-content-center">
        <input
          type="email"
          name="email"
          id="email"
          class="form-control col-2"
          placeholder="Enter Your Email"
          style="width: 300px"
        />
      </div>
      <label for="password"
        ><h5 class="font-weight-bold text-secondary mt-4">Password</h5></label
      >
      <div id="passwordform" class="form-inline justify-content-center">
        <input
          type="password"
          name="password"
          id="password"
          class="form-control col-2"
          placeholder="Enter Your Password"
          style="width: 300px"
        />
      </div>
      <button type="submit" class="btn btn-success mt-4 font-weight-bold">
        Login
      </button>
    </form>
  </body>
</html>
